:root {
--primary-color: #fff;
--text-color:#555;
--heading-color: #880808; 
--heading-color2: rgba(136, 8, 8, 0.5);
--green-color1: #00AB66;
--green-color2: #00573F;
--radius: 3.5rem;
--shadowLarge: box-shadow: rgba(0, 0, 0, 0.25) 0rem 5.4rem 5.5rem, rgba(0, 0, 0, 0.12) 0rem -1.2rem 3rem, 
rgba(0, 0, 0, 0.12) 0rem 0.4rem 0.6rem, rgba(0, 0, 0, 0.17) 0rem 1.2rem 1.3rem, rgba(0, 0, 0, 0.09)
 0rem -0.3rem 0.5rem;
 --shadowSmall: rgba(0, 0, 0, 0.35) 0px 5px 15px;
--font-family-primary: 'Raleway', sans-serif;
--font-family-secondary: 'Tangerine', cursive;
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background: var(--primary-color);
}


html {
  font-size: 62.5%;
}

h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.15rem;
}

/* SLIDER */
section.slider-container {
  width: 100%;
  height: 100vh;
  background-image: url("./images/background/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-shadow: var(--shadowSmall);
  margin-bottom: 3rem;
}

div.slider-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}

div.slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

article {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  padding: 2rem 10rem;
  background-color: transparent;
  opacity: 0;
  transition: all 0.3s ease;
}

div.image-slider {
  width: 40%;
  height: 100%;
  transform: translateZ(100px);
  margin-right: 2rem;
}

div.image-slider img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 5.4rem 5.5rem,
   rgba(0, 0, 0, 0.12) 0rem -1.2rem 3rem,
    rgba(0, 0, 0, 0.12) 0rem 0.4rem 0.6rem, rgba(0, 0, 0, 0.17) 0rem 1.2rem 1.3rem,
     rgba(0, 0, 0, 0.09) 0rem -0.3rem 0.5rem;
}

div.info-slider {
width: 60%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #fff;
}

div.info-slider h1 {
  text-align: center;
  font-size: 6rem;
  text-shadow: 0.2rem 0.7rem 1rem #333;
  margin-bottom: 4rem;
}

div.info-slider p {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  width: 90%;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  text-shadow: 0.2rem 0.7rem 1rem #333;
}

div.info-slider button {
  background-color: transparent;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 2.5rem;
  border-radius: 0.3rem;
  border: none;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.55) 0.1rem 0.5rem 1.5rem;
}

div.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.55) 0.1rem 0.5rem 1.5rem;

}

div.arrow.left{
  left: 0%;
}

div.arrow.right {
  right: 0%;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.nextSlide {
transform: translateX(100%);
}

.prevSlide {
  transform: translateX(-100%);
}

@media only screen and (max-width: 2000px) {
  div.info-slider h1 {
    margin-bottom: 2rem;
  }
  div.info-slider p {
    margin-bottom: 4rem;
  }
  }

@media only screen and (max-width: 1500px) {
  div.image-slider {
    height: 80%;
  }
  }

@media only screen and (max-width: 1274px) {
div.image-slider {
  height: 65%;
}
div.info-slider h1 {
  font-size: 4.5rem;
}
div.info-slider p {
  font-size: 2rem;
}
div.info-slider button {
  font-size: 2rem;
}
}

@media only screen and (max-width: 955px) {
  article {
    padding-top: 0;
    margin-top: 2rem;
  }
  div.image-slider {
    width: 80%;
  }
  div.info-slider h1 {
    font-size: 3rem;
    width: 100%;
  }
  div.info-slider p {
    font-size: 1.8rem;
    width: 100%;
    line-height: 2.2rem;
  }
  }

    @media only screen and (max-width: 750px) {
      section.slider-container {
        height: 50vh;
      }
      div.info-slider {
        width: 70%;
      }
      div.info-slider p {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
        width: 100%;
      }  
    }
  
    @media only screen and (max-width: 600px) {
      article {
        flex-direction: column;
      }

      div.image-slider {
        width: 80%;
        height: 40%;
      }
      div.info-slider h1 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        width: 100%;
        margin: 1rem 0;
      }  
      div.info-slider p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 0.1rem;
        width: 120%;
        margin-bottom: 1rem; padding-bottom: 0;
      }  
      div.info-slider button {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        margin: 0;
      }  
    }

    @media only screen and (max-width: 450px) {
      div.info-slider {
        width: 90%;
      } 
      div.info-slider h1 {
        margin: 0.5rem 0;
      }  
      div.info-slider p {
        line-height: 1.5rem;
      }  
      div.info-slider button {
        width: 100%;
      } 
    }

@media only screen and (max-width: 350px) {
  article {
    padding: 2rem 4rem;
  }
  div.info-slider h1 {
    font-size: 2.5rem;

  }  
  }

/* CATEGORIES */
section.categories {
  border: 2px solid black;
}

section.categories div.category__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 3rem;
  flex-wrap: wrap;
}

section.categories div.line {
    height: 2.5px;
    width: 20rem;
    background: var(--heading-color);
    margin: 0.5rem auto 3rem;
    border-radius: 0.3rem;
}

section.categories button.categories {
  background-color: var(--heading-color);
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 0.3rem;
  border: none;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.55) 0.1rem 0.5rem 1.5rem;
  display: block;
  margin: 2rem auto 0;
  text-align: center;
  letter-spacing: 0.15rem;
  transition: all 0.5s ease;
}

section.categories button.categories:hover {
  color: var(--heading-color);
  background: var(--heading-color2);
}

div.category-container {
  height: 100%;
  border-radius: var(--radius);
  box-shadow: var(--shadowSmall);
}

div.category {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--radius);
}

.tilt {
  transform-style: preserve-3d;
  transform: perspective(100px);
}

div.category img {
  transform: translateZ(2.5rem);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: var(--shadowSmall);
   transform: translateZ(2.5rem);
   opacity: 1;
   border: none;
   transition: all 0.3s ease-in-out;
}

div.category img:hover {
  opacity: 0.7;
  cursor: pointer;
}

div.info-category {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.category h2 {
  font-size: 3rem;
  margin: 1.5rem 0;
  color:   #fff;
  text-shadow: 0.2rem 0.7rem 1rem #333;
  background:  rgba(136, 8, 8, 0.4);
}

div.category button, div.category a {
cursor: pointer;
border: none;
padding: 0.5rem 1rem;
font-size: 1.6rem;
border-radius: 0.5rem;
background-color: #fff;
box-shadow: rgba(0, 0, 0, 0.55) 0.1rem 0.5rem 1.5rem;
text-align: center;
}

@media only screen and (max-width: 1150px) {
  section.categories div.category__items {
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  section.categories div.category__items{
    grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 395px) {
  div.category {
    height: 30vh;
  }
  div.category h2 {
    font-size: 2.5rem;
  }
  div.category button {
    font-size: 1.25rem;
  }
}



/* --Popular Products --- */
section.products {
width: 100%;
height: 100%;
padding: 3rem 7rem;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
overflow: hidden;
}

div.product-container {
  width: 28rem;
  height: 35rem;
  box-shadow: var(--shadowSmall);
   cursor: pointer;
  position: relative;
  border-radius: var(--radius);
  transition: all 0.5s ease;
}

div.product-container:hover div.product-info {
  opacity: 1;
}

div.circle {
  position: absolute;
  top: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: white;
}

div.product-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

div.product-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: none;
}

div.product-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 8, 8, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
  opacity: 0;
}

.product-icon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(136, 8, 8, 3);
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 2s ease-on-out;
}

.product-icon:hover {
  background: transparent;
  transform: scale(1.3);
}

@media only screen and (max-width: 990px) {
section.products {
  flex-wrap: nowrap;
  flex-direction: column;
}
div.product-container {
  margin-bottom: 3rem;
}
}


/* FOOTER */
section.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
}

div.footer-left {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 2rem;
  flex-direction: column;
}

div.footer-left h1 {
  color: rgba(136, 8, 8, 1);
    font-family: "Tangerine", cursive;
    font-size: 4rem;
    font-weight: bold;
}

div.footer-left p {
  font-size: 1.5rem;
  text-align: justify;
  color: #333;
}

div.social-container {
width: 60%;
height: 5rem;
background: white;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
padding-top: 1.5rem;
}

div.social-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.55) 0.1rem 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

div.social-icon:hover {
  background-color: rgba(136, 8, 8, 0.5);
}

div.footer-center {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

h3.title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  width: 50%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

ul li:hover a {
  color: rgba(136, 8, 8, 0.5);
}

div.footer-right {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 1.5rem;
}

div.footer-right p {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

div.image-payments {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

div.image-payments img {
  width: 5rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(136, 8, 8, 1);
}

@media only screen and (max-width: 590px) {
  div.social-container {
    width: 100%;
  }
  div.image-payments {
    width: 100%;
  }
}

@media only screen and (max-width: 528px) {
  section.footer-container {
    flex-direction: column;
  }
  div.footer-left p {
    line-height: 2.2rem;
  }
  div.social-container {
    width: 50%;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: -3rem;
  }
  div.image-payments {
    width: 50%;
    margin: 2rem auto 0;
  }
}


/* ---productList -- search*/
div.filter-container{
  width: 100%;
  height: 100%;
  padding: 2rem;
}

h1.product-name {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: rgba(136, 8, 8, 1);
}

div.filters {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
  color: rgba(136, 8, 8, 1);
  width: 28rem;
}

label {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

select {
  font-size: 1.8rem;
  color: rgba(136, 8, 8, 1);
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.3rem;
  border: 0.1rem solid rgba(136, 8, 8, 1);
  box-shadow: rgba(0, 0, 0, 0.55) 0.1rem 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 350px) {
  form {
    width: 20rem;
  }
}

/* PRODUCT PAGE */
div.productPage-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
}

div.productPage-image-container {
  flex: 1;
}

div.productPage-image-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  border-radius: 1rem;
  border: none;
}

div.productPage-info-container {
flex: 1;
padding: 2rem 4rem;
}

h1.product-title {
font-size: 4rem;
font-weight: 200;
margin-bottom: 2rem;
}

p.product-description {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

p.price {
  font-size: 3rem;
  margin-bottom: 2rem;
}

div.buttons-container{
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 10rem;
}

.buttons-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add, .remove, .quantity {
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  color: rgba(136, 8, 8, 1);
  box-shadow: rgba(0, 0, 0, 0.55) 0.1rem 0.5rem 1.5rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(136, 8, 8, 0.4);
  cursor: pointer;
}

button.cart {
  width: 14rem;
  border: none;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.55) 0.1rem 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: rgba(136, 8, 8, 1);
  transition: all 0.3S ease-in-out;
}

button.cart:hover {
  color: rgba(136, 8, 8, 1);
  background: #fff;
}

@media only screen and (max-width: 570px) {
  div.productPage-image-container img {
    height: 50vh;
  }
}

@media only screen and (max-width: 365px) {
  div.productPage-image-container img {
    height: 45vh;
  }
}

/*REGISTER */
section.register-container {
  max-width: 100%;
  height: 100vh;
  background-image: url("../src/images/background/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

h1.register-title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0.2rem 0.7rem 1rem white;
}

div.register-wrapper {
  width: 50rem;
  max-width: 50rem;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.register-form {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: transparent;
}

form.register-form input {
  width: 100%;
  margin: 1rem 0rem;
  padding: 0.3rem 0;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  text-align: center;
  background-color: transparent;
  box-shadow:  rgba(255, 255, 255, 1) 0.1rem 0.5rem 1.5rem;
  color: #fff;
}

form.register-form input::placeholder {
  color: #fff;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

input:hover::placeholder {
  color: transparent;
}

form.register-form p {
  color: #fff;
  text-align: justify;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

form.register-form button {
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  background-color: transparent;
  color: #fff;
  border: none;
  box-shadow:  rgba(255, 255, 255, 1) 0.1rem 0.5rem 1.5rem;
  transition: 0.3s ease-in-out;
}

form.register-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a.forgot-password, a.create-account {
  color: #fff;
  font-size: 1.5rem;
  padding-top: 1rem;
  text-decoration: underline;
  transition: color 0.3s ease;
}

a.forgot-password:hover, a.create-account:hover {
color: rgba(136, 8, 8, 1);
}



/* CART */
div.wrapper-cart {
  width: 100%;
  height: 100%;
  padding: 0.5rem 6rem;
}

h1.cart-title {
  
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
  font-weight: 300;
  color: rgba(136, 8, 8, 1);
  background: red;
  margin: 0 auto;
}

div.wrapper-cart-top {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.top-texts a {
  margin: 0 1rem;
  text-decoration: underline;
  font-size: 1.6rem;
}

.top-btn, .bottom-btn {
  padding: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}

div.wrapper-cart-bottom {
  width: 100%;
  height: 100%;
  display: flex;
padding: 2rem 0;
  font-size: 1.8rem;
  color: rgba(136, 8, 8, 1);
}

div.info {
  flex: 3;
}

div.summary {
  flex: 1;
  text-align: left;
  border: 0.1rem solid rgba(136, 8, 8, 1);
   border-radius: 0.5rem;
   padding: 2rem;
   height: 55vh;
}

div.product {
display: flex;
justify-content: space-between;
}

div.product-detail {
  flex: 2;
  display: flex;
}

div.product-detail img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border: none;
  display: block;
  margin: 1rem;
}

div.details {
  padding: 2rem;
}

div.details p {
  margin-bottom: 1rem;
}

div.price-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

div.product-amount-container {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

div.product-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  margin: 2rem 0;
}
.add-icon, .remove-icon {
  cursor: pointer;
}

h1.summary-title {
font-weight: 200;
}

div.summary-item {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

span.summary-item-text-total {
  font-weight: 900;
  font-size: 2.4rem;
}

div.summary button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color:rgba(136, 8, 8, 1);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

div.summary button:hover {
  background-color: rgba(136, 8, 8, 0.8);
  transform: scale(1.05);
}

@media only screen and (max-width: 504px) {
  div.top-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-btn, .bottom-btn, div.summary button {
    font-size: 1.8rem;
  }
  div.summary button {
    padding: 1rem;
  }
}

@media only screen and (max-width: 300px) {
  div.top-texts {
    display: none;
  }
}


























